/* styles/globals.css */

/* Define the custom font */
@font-face {
  font-family: 'TexGyreHeros';
  src: url('/fonts/texgyreheros-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Tailwind CSS directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom hover effect */
.hover-effect {
  transition: transform 0.2s ease-in-out;
}

.hover-effect:hover {
  transform: translateX(10px);
}

body {
  position: relative; /* Ensure to keep this if necessary */
  z-index: 0;
  font-family: 'TexGyreHeros'
}